* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
	font-family: sans-serif;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #333;
}

.hide {
	display: none;
}

.slider {
	display: flex;
	justify-content: center;
	position: relative;
	width: 900px;
	height: 600px;
	overflow: hidden;
	border-radius: 25px;
}

img {
	height: 100%;
	width: auto;
}

/* pause-play container */
.pause-play-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 15px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.fa-play,
.fa-pause {
	font-size: 42px;
	opacity: 0.8;
}

/* dot container */
.dot-position-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	position: absolute;
	left: 50%;
	bottom: 0;
	width: 200px;
	height: 50px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;

	transform: translateX(-50%);
}

.dot-position-container__item {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	padding: 7px;
	background-color: rgb(59, 58, 58);
	cursor: pointer;
}

.active-photo-position {
	background-color: #fff;
}

/* switch buttons */

.next,
.previous {
	position: absolute;
	display: block;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5%;
	font-size: 4.8rem;
	color: #ddd;
	font-weight: 600;
	transform: translateY(-50%);
	transition-duration: 0.6s;
	cursor: pointer;
}

.next:hover,
.previous:hover {
	font-weight: 700;
	font-size: 5rem;
	transform: scale(1.1) translateY(-50%);
}

.next:active,
.previous:active {
	transform: scale(0.9) translateY(-50%);
}

.previous {
	top: 50%;
	left: 0;
	margin-left: 10px;
}

.next {
	top: 50%;
	right: 0;
	margin-right: 10px;
}

/* Animation */
.fromRightToLeft {
	animation-duration: 0.3s;
	animation-name: fromRightToLeft;
}

.fromLeftToRight {
	animation-duration: 0.3s;
	animation-name: fromLeftToRight;
}

@keyframes fromRightToLeft {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fromLeftToRight {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}
